.conducting-mainnavbar .navbar {
    height: 56px;
    padding-left: 10px;
   
    align-items:flex-start !important;
    background: #c7d6d7 !important;
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 15%);
    
   }
   
   .conducting-mainnavbar .container{
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 3.5%;
   
    
}
    .conducting-mainnavbar .navbar-brand{
    
   
    position: absolute;
    margin: 0px;
    cursor: pointer;
    margin-left: 0% !important;
   
}
.conducting-mainnavbar .navbar-nav{
    position: absolute;
    /* margin-left: 58%; */
    margin-left: 75%;
   
}
.conducting-mainnavbar  .nav-link{
    text-transform: none;
    cursor: pointer;
    letter-spacing: 0;
    font-size: 20px;
    font-style:normal;
    font-weight:500 ;
    color: rgb(56, 56, 56) !important;
    white-space: nowrap;
    padding: 5px 20px !important;
}
.conducting-mainnavbar  .sitelogo{
    background-color: transparent;
    width: 9%;
    height: 13%;
    margin-left: 5%;
    margin-top: -28px;
    position: fixed;
}
.conducting-mainnavbar .cruittext{
    margin-top: 3px;
    margin-left: 12.5%;
    position: fixed;
    background-color: transparent;
}
.conducting-mainnavbar .navbar-brand h5{
    display: contents;
color: black;
font-size: 20px !important;
text-transform: uppercase;
}
.conducting-mainnavbar .navbar-brand h6{
    color:blue;
    font-size: 20px !important;
}
.conducting-mainnavbar  .nav-colored{
    background-color: white ;
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 15%);
}
.conducting-mainnavbar  .nav-transparent{
    background-color: transparent;
}
.conducting-mainnavbar  .navlink-black{
    color: rgba(0,0,0,.5) !important;
}

.conducting-mainnavbar  .navlink-white{
    color: white !important;
}
.conducting-mainnavbar  .mynav{
    position: relative;
    margin-left: 0% !important;
}